/*
 * Copyright 2014 Digi International, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	5v_reg {
		compatible = "regulator-fixed";
		gpio = <&gpio_extender 7 0>;
		regulator-name = "gpio-ext-reg";
		regulator-always-on;
		enable-active-high;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	v4l2_cap_0: v4l2-cap@0 {
		compatible = "fsl,imx6q-v4l2-capture";
		mclk_source = <0>;
		status = "disabled";
	};

	v4l2_cap_1: v4l2-cap@1 {
		compatible = "fsl,imx6q-v4l2-capture";
		mclk_source = <0>;
		status = "disabled";
	};

	v4l2_out: v4l2-out {
		compatible = "fsl,mxc_v4l2_output";
		status = "disabled";
	};

	/* Communications board power regulator */
	comms_board_power: comms_board {
		compatible = "regulator-fixed";
		regulator-name = "comms_pwr_en";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio6 10 GPIO_ACTIVE_LOW>;
		enable-active-low;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_comms_board_pwr_en>;
		status = "okay";
		regulator-always-on;
	};

	rmii_clk: clock-rmii {
		/* This clock is provided by the phy (KSZ8061RNB) */
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <50000000>;
	};

	/* GSM USB detect power regulator */
	gsm_usb_det_power: gsm_usb_det {
		compatible = "regulator-fixed";
		regulator-name = "gsm_usb_det";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio3 10 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gsm_usb_det_en>;
		status = "okay";
		regulator-always-on;
	};
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	/* This is commented out in TonyM's version */
	stby-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
};

&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	stby-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
};

/* Check this */
/* old
&clks {
	assigned-clocks = <&clks IMX6QDL_CLK_LDB_DI0_SEL>,
			  <&clks IMX6QDL_CLK_LDB_DI1_SEL>;
	assigned-clock-parents = <&clks IMX6QDL_CLK_PLL5_VIDEO_DIV>,
				 <&clks IMX6QDL_CLK_PLL5_VIDEO_DIV>;
	assigned-clock-rates = <0>, <0>;
};
*/
/* This comes from what TonyM did. Don't quite understand why - need to investigate */
&clks  {
	compatible = "fsl,imx6q-ccm";
	reg = <0x020c4000 0x4000>;
	interrupts = <0 87 IRQ_TYPE_LEVEL_HIGH>,
				<0 88 IRQ_TYPE_LEVEL_HIGH>;
	#clock-cells = <1>;
};

/* Done - removed extra gpio */
&ecspi1 {
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio2 30 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "disabled";
};

/* 10/100 KSZ8061 PHY for the MM3 */
&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	status = "okay";
	phy-mode = "rmii";
	phy-reset-gpios = <&gpio2 25 GPIO_ACTIVE_LOW>;
	phy-handle = <&phy>;
	clocks = <&clks IMX6QDL_CLK_ENET>,
		<&clks IMX6QDL_CLK_ENET>,
		<&rmii_clk>;

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		phy: ethernet-phy@1 {
			compatible = "ethernet-phy-id0022.1570","ethernet-phy-ieee802.3-c22";
			reg = <1>;
		};
	};
};

&gpc {
	fsl,cpu_pupscr_sw2iso = <0xf>;
	fsl,cpu_pupscr_sw = <0xf>;
	fsl,cpu_pdnscr_iso2sw = <0x1>;
	fsl,cpu_pdnscr_iso = <0x1>;
	fsl,ldo-bypass = <0>; /* No ldo-bypass */
	fsl,wdog-reset = <1>; /* watchdog select of reset source */
	pu-supply = <&reg_pu>;
};

/* Done - I2C3 */
&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;

/* Done - PCF8563 RTC I2C
   Address = read A3h and write A2h (from data sheet PCF8563 Rev. 11 — 26 October 2015 pg.1)
   this is vastly diffirent from what TonyM did. He only had one device mm3_rtc with address 0x51 
*/
	rtc_read: pcf8563@0xa3 {
		compatible = "nxp,pcf8563";
		reg = <0xa3>;
		wakeup-source;
		#clock-cells = <0>;
		status = "disabled"; // was okay - need to set in .dts
	};
	
	rtc_write: pcf8563@0xa2 {
		compatible = "nxp,pcf8563";
		reg = <0xa2>;
		wakeup-source;
		#clock-cells = <0>;
		status = "disabled"; // was okay - need to set in .dts
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

/* Done - Can 1 */
	can1 {
		pinctrl_flexcan1: can1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_7__FLEXCAN1_TX 0x1b0b0
				MX6QDL_PAD_GPIO_8__FLEXCAN1_RX 0x1b0b0
				MX6QDL_PAD_GPIO_2__GPIO1_IO02  0x1b0b0
			>;
		};
	};

/* Done - Can2 */
	can2 {
		pinctrl_flexcan2: can2 {
			fsl,pins = <
				MX6QDL_PAD_SD3_DAT0__FLEXCAN2_TX 0x1b0b0
				MX6QDL_PAD_SD3_DAT1__FLEXCAN2_RX 0x1b0b0
				MX6QDL_PAD_GPIO_5__GPIO1_IO05    0x1b0b0
			>;
		};
	};

/* Done - SPI IO Co-processor bus */
	ecspi1 {
		pinctrl_ecspi1: ecspi1 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D17__ECSPI1_MISO 0x100b1
				MX6QDL_PAD_EIM_D18__ECSPI1_MOSI 0x100b1
				MX6QDL_PAD_EIM_D16__ECSPI1_SCLK 0x100b1
				MX6QDL_PAD_EIM_EB2__GPIO2_IO30  0x100b1
				MX6QDL_PAD_EIM_CS0__GPIO2_IO23  0x100b1
			>;
		};
	};

/* Ethernet - Using what TonyM did, don't want to go through this whole rigmarole */
	enet {
		pinctrl_enet: enet {
			fsl,pins = <
				MX6QDL_PAD_GPIO_16__ENET_REF_CLK	0x4001b0a8
				MX6QDL_PAD_ENET_MDIO__ENET_MDIO		0x0001b098
				MX6QDL_PAD_ENET_MDC__ENET_MDC		0x0001b098
				MX6QDL_PAD_ENET_TXD0__ENET_TX_DATA0	0x0001b098
				MX6QDL_PAD_ENET_TXD1__ENET_TX_DATA1	0x0001b098
				MX6QDL_PAD_ENET_TX_EN__ENET_TX_EN	0x0001b098
				MX6QDL_PAD_ENET_RX_ER__ENET_RX_ER	0x0001b0b0
				MX6QDL_PAD_ENET_RXD0__ENET_RX_DATA0	0x0001b0b0
				MX6QDL_PAD_ENET_RXD1__ENET_RX_DATA1	0x0001b0b0
				MX6QDL_PAD_ENET_CRS_DV__ENET_RX_EN	0x0001b0b0
				MX6QDL_PAD_EIM_OE__GPIO2_IO25		0x00000018
			>;
		};
	};

/* Used for the Power Management IC (pmic)  */
	i2c2 {
		pinctrl_i2c2: i2c2 {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL3__I2C2_SCL 0x4001b8b1
				MX6QDL_PAD_KEY_ROW3__I2C2_SDA 0x4001b8b1
			>;
		};
	};

/* Done - PCF8563 RTC (only connected device) */
	i2c3 {
		pinctrl_i2c3: i2c3 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_3__I2C3_SCL 0x4001b8b1
				MX6QDL_PAD_GPIO_6__I2C3_SDA 0x4001b8b1
			>;
		};
	};

/* Done - GPS */
	uart1 {
		pinctrl_uart1: uart1 {
			fsl,pins = <
				MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA 0x1b0b1
				MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA 0x1b0b1
				/* These aren't used, but wired up */
				MX6QDL_PAD_EIM_D19__UART1_CTS_B 0x1b0b1
				MX6QDL_PAD_EIM_D20__UART1_RTS_B 0x1b0b1
			>;
		};
	};

/* Done - Bluetooth
   Found a statement about the Bluetooth UART2 connection here:
   https://www.digi.com/resources/documentation/digidocs/90001546/reference/bsp/cc6/r_bluetooth.htm
*/
	uart2 {
		pinctrl_uart2: uart2 {
			fsl,pins = <
				MX6QDL_PAD_SD3_DAT4__UART2_RX_DATA  0x1b0b1
				MX6QDL_PAD_SD3_DAT5__UART2_TX_DATA  0x1b0b1
				MX6QDL_PAD_SD3_CMD__UART2_CTS_B     0x1b0b1
				MX6QDL_PAD_SD3_CLK__UART2_RTS_B     0x1b0b1
			>;
		};
	};

/* Done - GSM UART */
	uart3 {
		pinctrl_uart3: uart3 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D25__UART3_RX_DATA 0x1b0b1
				MX6QDL_PAD_EIM_D24__UART3_TX_DATA 0x1b0b1
				MX6QDL_PAD_EIM_D30__UART3_CTS_B   0x1b0b1
				MX6QDL_PAD_EIM_D31__UART3_RTS_B   0x1b0b1
			>;
		};
	};

/* Done - CONSOLE */
	uart4 {
		pinctrl_uart4: uart4 {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL0__UART4_TX_DATA 0x1b0b1
				MX6QDL_PAD_KEY_ROW0__UART4_RX_DATA 0x1b0b1
			>;
		};
	};

/* Done - IRIDIUM */
	uart5 {
		pinctrl_uart5: uart5 {
			fsl,pins = <
				MX6QDL_PAD_KEY_ROW1__UART5_RX_DATA 0x1b0b1
				MX6QDL_PAD_KEY_COL1__UART5_TX_DATA 0x1b0b1
				MX6QDL_PAD_KEY_COL4__UART5_RTS_B   0x1b0b1
				MX6QDL_PAD_KEY_ROW4__UART5_CTS_B   0x1b0b1
			>;
		};
	};

/* Done - USB OTG */
	usbotg {
		pinctrl_usbotg: usbotg {
			fsl,pins = <
				MX6QDL_PAD_GPIO_1__USB_OTG_ID 0x17059
				MX6QDL_PAD_EIM_D22__USB_OTG_PWR 0x17059
				MX6QDL_PAD_EIM_D21__USB_OTG_OC 0x17059
			>;
		};
	};

/* Done - SD card */
	usdhc2 {
		pinctrl_usdhc2: usdhc2 {
			fsl,pins = <
				MX6QDL_PAD_SD2_CMD__SD2_CMD    0x17071
				MX6QDL_PAD_SD2_CLK__SD2_CLK    0x10071
				MX6QDL_PAD_SD2_DAT0__SD2_DATA0 0x17071
				MX6QDL_PAD_SD2_DAT1__SD2_DATA1 0x17071
				MX6QDL_PAD_SD2_DAT2__SD2_DATA2 0x17071
				MX6QDL_PAD_SD2_DAT3__SD2_DATA3 0x17071
			>;
		};

		pinctrl_usdhc2_100mhz: usdhc2-100mhz {
			fsl,pins = <
				MX6QDL_PAD_SD2_CMD__SD2_CMD    0x170B1
				MX6QDL_PAD_SD2_CLK__SD2_CLK    0x100B1
				MX6QDL_PAD_SD2_DAT0__SD2_DATA0 0x170B1
				MX6QDL_PAD_SD2_DAT1__SD2_DATA1 0x170B1
				MX6QDL_PAD_SD2_DAT2__SD2_DATA2 0x170B1
				MX6QDL_PAD_SD2_DAT3__SD2_DATA3 0x170B1
			>;
		};

		pinctrl_usdhc2_200mhz: usdhc2-200mhz {
			fsl,pins = <
				MX6QDL_PAD_SD2_CMD__SD2_CMD    0x170F1
				MX6QDL_PAD_SD2_CLK__SD2_CLK    0x100F1
				MX6QDL_PAD_SD2_DAT0__SD2_DATA0 0x170F1
				MX6QDL_PAD_SD2_DAT1__SD2_DATA1 0x170F1
				MX6QDL_PAD_SD2_DAT2__SD2_DATA2 0x170F1
				MX6QDL_PAD_SD2_DAT3__SD2_DATA3 0x170F1
			>;
		};
	};

/* Zero mention about the eMMC in the digi ConnectCore6 SOM and ConnectCore6 SOM SBC documentation
   Found an example here:
   https://www.digi.com/resources/documentation/digidocs/90001546/reference/bsp/cc6/r_mmc-sd-sdio.htm
   and here:
   https://www.digi.com/resources/documentation/digidocs/embedded/dey/3.2/cc6/bsp_r_mmc-sd-sdio_cc6cc6qp
*/
	usdhc4 {
		pinctrl_usdhc4: usdhc4 {
			  fsl,pins = <
				  MX6QDL_PAD_SD4_CMD__SD4_CMD    0x17059
				  MX6QDL_PAD_SD4_CLK__SD4_CLK    0x10059
				  MX6QDL_PAD_SD4_DAT0__SD4_DATA0 0x17059
				  MX6QDL_PAD_SD4_DAT1__SD4_DATA1 0x17059
				  MX6QDL_PAD_SD4_DAT2__SD4_DATA2 0x17059
				  MX6QDL_PAD_SD4_DAT3__SD4_DATA3 0x17059
				  MX6QDL_PAD_SD4_DAT4__SD4_DATA4 0x17059
				  MX6QDL_PAD_SD4_DAT5__SD4_DATA5 0x17059
				  MX6QDL_PAD_SD4_DAT6__SD4_DATA6 0x17059
				  MX6QDL_PAD_SD4_DAT7__SD4_DATA7 0x17059
				  >;
		  };

		pinctrl_usdhc4_100mhz: usdhc4-100mhz {
			fsl,pins = <
				MX6QDL_PAD_SD4_CMD__SD4_CMD    0x170B9
				MX6QDL_PAD_SD4_CLK__SD4_CLK    0x100B9
				MX6QDL_PAD_SD4_DAT0__SD4_DATA0 0x170B9
				MX6QDL_PAD_SD4_DAT1__SD4_DATA1 0x170B9
				MX6QDL_PAD_SD4_DAT2__SD4_DATA2 0x170B9
				MX6QDL_PAD_SD4_DAT3__SD4_DATA3 0x170B9
				MX6QDL_PAD_SD4_DAT4__SD4_DATA4 0x170B9
				MX6QDL_PAD_SD4_DAT5__SD4_DATA5 0x170B9
				MX6QDL_PAD_SD4_DAT6__SD4_DATA6 0x170B9
				MX6QDL_PAD_SD4_DAT7__SD4_DATA7 0x170B9
			>;
		};

		pinctrl_usdhc4_200mhz: usdhc4-200mhz {
			fsl,pins = <
				MX6QDL_PAD_SD4_CMD__SD4_CMD    0x170F9
				MX6QDL_PAD_SD4_CLK__SD4_CLK    0x100F9
				MX6QDL_PAD_SD4_DAT0__SD4_DATA0 0x170F9
				MX6QDL_PAD_SD4_DAT1__SD4_DATA1 0x170F9
				MX6QDL_PAD_SD4_DAT2__SD4_DATA2 0x170F9
				MX6QDL_PAD_SD4_DAT3__SD4_DATA3 0x170F9
				MX6QDL_PAD_SD4_DAT4__SD4_DATA4 0x170F9
				MX6QDL_PAD_SD4_DAT5__SD4_DATA5 0x170F9
				MX6QDL_PAD_SD4_DAT6__SD4_DATA6 0x170F9
				MX6QDL_PAD_SD4_DAT7__SD4_DATA7 0x170F9
			>;
		};
	};

	comms_board_pwr_en {
		pinctrl_comms_board_pwr_en: comms_board_pwr_en {
			fsl,pins = <
				MX6QDL_PAD_NANDF_RB0__GPIO6_IO10        0x80000000
			>;
		};
	};

	gsm_usb_det_en {
		pinctrl_gsm_usb_det_en: gsm_usb_det_en {
			fsl,pins = <
				/* GSM VUSB Enable */
				MX6QDL_PAD_EIM_DA10__GPIO3_IO10         0x80000000
			>;
		};
	};

	hog {
		pinctrl_hog: hog {
			fsl,pins = <
				/* LEDs - Checked */
				/* USER_LED0 */
				MX6QDL_PAD_NANDF_D2__GPIO2_IO02		0x80000000
				/* USER_LED1 */
				MX6QDL_PAD_NANDF_D3__GPIO2_IO03     0x80000000
				/* USER_LED2 */
				MX6QDL_PAD_NANDF_D4__GPIO2_IO04     0x80000000

				/* Test Points - Checked */
				/* EXP_GPIO_2 */
				MX6QDL_PAD_NANDF_D7__GPIO2_IO07     0x80000000
				/* EXP_GPIO_3 */
				MX6QDL_PAD_EIM_CS1__GPIO2_IO24      0x80000000

				/* BT_DISABLE_N - Checked */
				MX6QDL_PAD_GPIO_9__GPIO1_IO09       0x80000000

				/* GSM - Checked */
				/* LVDS1_PEN_IRQ_N - Changed to CAPGD_GSM */
				MX6QDL_PAD_EIM_D23__GPIO3_IO23      0x80000000
				/* XBEE_ON / SLEEP_N - Changed to CAPFILT_GSM */
				MX6QDL_PAD_EIM_D27__GPIO3_IO27      0x80000000
				/* This was not assigned - but on the schematic 5VSYSGD_GSM */
				MX6QDL_PAD_EIM_A25__GPIO5_IO02      0x80000000
				/* EXP_GPIO_4 - Changed to UCGSM_PWRMON */
				MX6QDL_PAD_EIM_EB0__GPIO2_IO28      0x80000000
				/* EXP_GPIO_6 - Changed to GSM_ON_OFF */
				MX6QDL_PAD_GPIO_18__GPIO7_IO13      0x80000000
				/* EXP_GPIO_7 - Changed to GSM_RESET */
				MX6QDL_PAD_GPIO_19__GPIO4_IO05      0x80000000
				/* PFO_GSM */
				MX6QDL_PAD_CSI0_DATA_EN__GPIO5_IO20 0x80000000

				/* Iridium - Checked */
				/* IRIDIUM_NET */
				MX6QDL_PAD_NANDF_D6__GPIO2_IO06     0x80000000
				/* XBEE_RESET_N  - Changed to PFO_IRI */
				MX6QDL_PAD_EIM_D28__GPIO3_IO28      0x80000000
				/* XBEE_SLEEP_RQ - Changed to 5VSYSGD_IRI */
				MX6QDL_PAD_EIM_D29__GPIO3_IO29      0x80000000
				/* EXP_GPIO_5 - Changed to IRIDIUM_ON_OFF */
				MX6QDL_PAD_EIM_EB1__GPIO2_IO29      0x80000000
				/* This was assigned from PCIe_VCC to CAPFLT_IRI */
				MX6QDL_PAD_EIM_LBA__GPIO2_IO27      0x80000000
				/* This was CSI1_RESET_N changed to CAPGD_IRI */
				MX6QDL_PAD_EIM_DA15__GPIO3_IO15     0x80000000

				/* USB_HUB_RESET_N - TonyM did not have this */
				/*MX6QDL_PAD_EIM_DA10__GPIO3_IO10     0x80000000 */

				/* Communications board */
				/* This was assigned from CSI RESET N to COMMS_PWRCYCLE */
				MX6QDL_PAD_SD3_DAT2__GPIO7_IO06     0x80000000
				/* This was assigned from PCIE WAKE N to PWRGD_COMMS */
				MX6QDL_PAD_SD3_DAT3__GPIO7_IO07     0x80000000

				/* IO Controller */
				/* was EXP_GPIO_0 changed to IO_CONTR_RST */
				MX6QDL_PAD_NANDF_D5__GPIO2_IO05     0x80000000
				/* IO IRQ */
				MX6QDL_PAD_EIM_CS0__GPIO2_IO23      0x80000000

				/* SPI (temp) */
				/* SPI CS#  */
				//MX6QDL_PAD_EIM_EB2__GPIO2_IO30    0x80000000
			>;
		};
	};
};

/* GPS */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	uart-has-rtscts;
	digi,pwr-en-gpio = <&gpio2 26 GPIO_ACTIVE_HIGH>;
};

/* BLUETOOTH */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	uart-has-rtscts;
};

/* GSM UART */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	uart-has-rtscts;
	digi,pwr-en-gpio = <&gpio2 26 GPIO_ACTIVE_HIGH>;
};

/* CONSOLE */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
};

/* IRIDIUM */
&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	uart-has-rtscts;
};

/* GSM USB */
&usbh1 {
	fsl,reset-gpio = <&gpio3 10 GPIO_ACTIVE_HIGH>;
};

/* USB OTG */
&usbotg {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	power-active-high;
};

/* SD Card */
&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>;
	broken-cd;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	vqmmc-supply = <&ldo9>;
};

