if TARGET_CCIMX6_BELLEQUIPMENT_MM3_DEVELOPMENT

config SYS_BOARD
	default "ccimx6-bellequipment-mm3-development"

config SYS_VENDOR
	default "digi"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "ccimx6-bellequipment-mm3-development"

endif
